@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto',sans-serif;
    background-color: black;
    color: white;
}


.game {
    font-weight: 900;
    font-size: large;
    margin-top: 48px;
    margin-left: 12px;
    border-style: dotted;
    border-color: white;
    border-width: 2px;
    width: fit-content;
    padding: 12px;
}

.outcome {
    margin-top: 36px;
    margin-left: 12px;
}

.computerWins {
    margin-top: 48px;
    margin-left: 12px;
}

button {
    margin-top: 12px;
    margin-left: 12px;
    border-radius: 8px;
    transition:all .07s ease;
    font-size: 24px;
    padding: 20px;

}

.playerWins {
    margin-top: 12px;
    margin-left: 12px;
}

.selected {
    border-color: yellow;
    transform: scale(1.1);
    box-shadow: 0 0 1rem #ffc600;
}